@font-face {
  font-family: "gilroy";
  font-weight: 200;
  font-style: normal;
  src: url("../fonts/gilroylight.woff2") format("woff2"); }

@font-face {
  font-family: "gilroy";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"); }

@font-face {
  font-family: "opensans";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/opensanslight.woff2") format("woff2"); }

@font-face {
  font-family: "opensans";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/opensans.woff2") format("woff2"); }

body {
  margin: 0;
  padding: 0;
  font-family: opensans, Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.01em;
  color: #000000;
  background-color: #ffffff; }

a {
  text-decoration: none;
  color: #000000; }

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px; }

.header-menu {
  background-color: #F6E09A; }
  .header-menu ul {
    list-style: none; }

.main-header-logo:hover, .main-header-logo:focus {
  opacity: 0.6; }

.main-header-logo:active {
  opacity: 0.3; }

.main-navigation-search {
  background-color: inherit;
  border: none; }

.main-navigation-search:focus {
  outline: none; }

.main-navigation-search::-webkit-search-cancel-button {
  display: none; }

.main-navigation-search::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3); }

.main-navigation-search:-moz-placeholder {
  color: rgba(0, 0, 0, 0.3); }

.main-navigation-search:hover::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6); }

.main-navigation-search:hover:-moz-placeholder {
  color: rgba(0, 0, 0, 0.6); }

.main-navigation-search:focus::-webkit-input-placeholder {
  color: #000000; }

.main-navigation-search:focus:-moz-placeholder {
  color: #000000; }

.user-navigation a:hover, .user-navigation a:focus {
  color: rgba(0, 0, 0, 0.6); }

.user-navigation a:active {
  color: rgba(0, 0, 0, 0.3); }

.site-navigation, .catalog-title {
  font-family: gilroy, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase; }

.site-navigation a:hover, .catalog-title:hover, .site-navigation a:focus, .catalog-title:focus {
  color: rgba(0, 0, 0, 0.6); }

.site-navigation a:active, .catalog-title:active {
  color: rgba(0, 0, 0, 0.3); }

.catalog-navigation {
  line-height: 36px; }

.catalog-navigation a:hover, .catalog-navigation a:focus {
  color: rgba(0, 0, 0, 0.6); }

.catalog-navigation a:active {
  color: rgba(0, 0, 0, 0.3); }

.slider-description b {
  font-family: gilroy, Arial, sans-serif;
  font-size: 47px;
  line-height: 56px;
  font-weight: 800;
  letter-spacing: 0.01em; }

.table-first-row {
  font-family: gilroy, Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 200;
  letter-spacing: 0.01em; }

.table-second-row {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.01em; }

.index-category-list {
  font-family: gilroy, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.01em;
  list-style: none; }

.advantages {
  background-color: #E4E4E4; }

.advantages-list button {
  font-family: gilroy, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase; }

.advantage h3 {
  font-family: gilroy, Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  letter-spacing: 0.01em; }

.brands ul, footer ul {
  list-style: none; }

.contacts h2, .about h2 {
  font-family: gilroy, Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  letter-spacing: 0.01em; }

.contacts p, .about p {
  letter-spacing: normal; }

.about ul {
  list-style: none;
  font-family: gilroy, Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
  letter-spacing: normal; }

.section-button {
  font-family: gilroy, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase; }

.index-write-us label {
  font-family: gilroy, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: normal; }

.index-input {
  color: #464646;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: normal;
  background-color: rgba(228, 228, 228, 0.5);
  border: none;
  resize: none; }

.index-input:hover {
  background-color: rgba(228, 228, 228, 0.8); }

.index-input:focus, .index-input:active {
  background-color: rgba(255, 255, 255, 0.5);
  border: 3px solid rgba(240, 197, 46, 0.5);
  outline: none; }

.index-input::-webkit-input-placeholder {
  color: rgba(70, 70, 70, 0.4);
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: normal; }

.index-input:-moz-placeholder {
  color: rgba(70, 70, 70, 0.4);
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: normal; }

footer {
  background-color: #464646; }

.footer-logo:hover, .footer-logo:focus {
  opacity: .6; }

.footer-logo:active {
  opacity: .3; }

.footer-user-navigation a {
  color: rgba(255, 255, 255, 0.7);
  line-height: 36px; }

.footer-user-navigation a:hover, .footer-user-navigation a:focus {
  color: #ffffff; }

.footer-user-navigation a:active {
  color: rgba(255, 255, 255, 0.3); }

.footer-main-navigation a {
  color: #ffffff;
  font-family: gilroy, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase; }

.footer-main-navigation a:hover, .footer-main-navigation a:focus {
  color: rgba(255, 255, 255, 0.6); }

.footer-main-navigation a:active {
  color: rgba(255, 255, 255, 0.3); }

.footer-contacts, .footer-contacts a {
  color: #ffffff; }

.footer-links a {
  opacity: 0.3; }

.footer-links a:hover, .footer-links a:focus {
  opacity: 0.6; }

.footer-links a:active {
  opacity: 0.1; }

.mentor-link:hover, .mentor-link:focus {
  opacity: 0.6; }

.mentor-link:active {
  opacity: 0.3; }
